.banner {
  display: grid;
  place-items: center;
  width: 100%;
  height: 18rem; 
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  position: absolute;
  font-size: var(--size-title-banner)
}

.subtitle {
  position: absolute;
  top: 13rem;
  font-size: var(--size-subtitle-banner);
  font-weight: 400;
}
