.navbar { 
  margin: 0;
  background-color: var(--color-black);
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  height: 4.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.navLogo {
  display: flex;
  align-items: center;
}

.titleNav {
  color: var(--color-white);
  margin-left: 2rem;
}

.nav {
  display: grid; 
  align-self: center;
  justify-content: end; 
}

.itemsNav {
  display: grid; 
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 1fr; 
  grid-column-gap: 1rem; 
}

.itemNav {
  display: inline-block;
  list-style: none;
}

.itemLink { 
  padding: 1rem; 
  border-radius: 50px; 
  color: var(--color-white); 
}

.itemLink:hover {
  cursor: pointer; 
  background-color: var(--color-secundary);
}
