.footer {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 25rem;
  background-color: var(--color-black);
}

.container {
  padding-top: 2rem;
  width: 37.5rem;
  height: 100%;
}

.itemsPolices {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.itemPolices {
  list-style: none;
}

.linkPolice {
  color: var(--color-white);
}

.linkPolice:hover {
  cursor: pointer;
}

.icons {
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 40px);
  justify-content: center;
  gap: 1rem; 
}

.itemIcon {
  list-style: none;
}

.icon {
  display: grid;
  place-content: center;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--color-white);
}

.icon:hover {
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-secundary);
}

.greetings {
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  display: grid;
  justify-content: center;
  color: var(--color-white); 
  text-align: center;
}

.titleGreetings {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.copyrigth {
  font-weight: 800;
}
